#! Description: Configure AAA accounting for commands and/or EXEC login sessions.
#! Prompt: [{question_name: Accounting method@colon, question_description: '', required: true, type: multiplechoice, variable: prompt_aaa_prim, min: null, max: null, default: '', choices: radius\ntacacs+}, {question_name: Enable AAA accounting for commands@question, question_description: '', required: true, type: multiplechoice, variable: prompt_aaa_cmdacct, min: null, max: null, default: 'Yes', choices: Yes\nNo}, {question_name: Enable AAA Accounting for EXEC Login Sessions@question, question_description: '', required: true, type: multiplechoice, variable: prompt_aaa_execacct, min: null, max: null, default: 'Yes', choices: Yes\nNo}]
# =====================
---
- hosts: all
  connection: network_cli
  gather_facts: no
  vars:
    ansible_network_os: icx
    ansible_become: true
    ansible_become_method: enable
    NewlineVar: "\r"
    ErrParse: '^.*ConnectionError: '

  tasks:
  - name: Setup for Command Accounting
    set_fact: {CmdAcct: "aaa accounting commands 0 default start-stop {{prompt_aaa_prim}}"}
    when: prompt_aaa_cmdacct|bool

  - name: Setup for EXEC Access Accounting
    set_fact: {ExecAcct: "aaa accounting exec default start-stop {{prompt_aaa_prim}}"}
    when: prompt_aaa_execacct|bool

  - name: Configure RADIUS AAA Accounting
    icx_config:
      lines: |
        {{CmdAcct|default()}}
        {{ExecAcct|default()}}
      save_when: changed
    register: IcxCfgStatus
    failed_when: IcxCfgStatus.msg is defined and "MODULE FAILURE" not in IcxCfgStatus.msg

  - name: Parse Switch Error
    set_fact:
      ErrMsg: "{{IcxCfgStatus.module_stderr|regex_replace('\n')|regex_replace(ErrParse)}}"
    when: IcxCfgStatus.rc is defined and IcxCfgStatus.rc == 1

  - name: Display Switch Error
    assert: {that: ErrMsg is not defined, fail_msg: '{{ErrMsg.split(NewlineVar)}}'}
    when: ErrMsg is defined
